APP_NAME="Wedding Invitation"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://wedding-adis.anggit.dev

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/storage/database/database.sqlite

CACHE_STORE=database
CACHE_PREFIX=wedding-cache
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
QUEUE_CONNECTION=database

FILESYSTEM_DISK=public
